<a href="https://colab.research.google.com/github/rajeshraje434/rajeshraje434/blob/main/Beginners_Python_Module_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Beginners Python Module 4**

In [ ]:
weight_kgs=input("what is your weight:")
weight_kgs=float(weight_kgs)
print("your weight in grams:", weight_kgs *1000)

what is your weight:86.5
your weight in grams: 86500.0

In [ ]:
A=int(input("a:"))
B=int(input("b:"))
total = A+B
print("Total:",total)
avg=total/2
print("average:", avg)

a:10
b:20
Total: 30
average: 15.0

In [ ]:
age=20
criminal=False
print(age>=22 and not criminal)

False

In [ ]:
print(True == 1)

True

In [ ]:
print("1" == 1)

False

In [ ]:
value = int(input())
cube = value**3
if cube>50:
  print("that is huge")
else:
  print("that is tiny")
print("exicution COMPLETE")

5
that is huge
exicution COMPLETE

In [ ]:
password = input()
Re_enter_password = input()
if password == Re_enter_password:
  print("passwords are good")
else:
  print("issues with password")

rh32
rh23
issues with password

In [ ]:
time=23
if time>=9 and time<12:
  print("good morning")
else:
  if time>=12 and time<17:
    print("good afternoon")
  else:
    if time>=17 and time<22:
      print("good evening")
    else:
      print("good Night")

good Night

In [ ]:
time=11
if time>=9 and time<12:
  print("good morning")
elif time>=12 and time<17:
    print("good afternoon")
elif time>=17 and time<22:
      print("good evening")
else:
    print("good Night")

good morning

In [ ]:
integer = int(input()).
if integer >0:
    print("positive")
else:
    print("Not positive")

0
Not positive

In [ ]:
Number = int(input())
if Number >0:
    print("Positive")
elif Number < 0:
    print("Negative")
else:
    print("Zero")

0
Zero

In [ ]:
value = int(input())
if value > 0 and value <=9 :
    expression = value**5%50+20-6
    if expression>15:
        print("Black")
    else:
        print("Blue")
else:
    print("INVALID INPUT")

5
Black

In [ ]:
enter_language = input("what langiage do you like : ").lower()
if enter_language == "python":
    print("good choice")
else:
    print("think again")

what langiage do you like : PYThon
good choice

In [ ]:
numb = int(input())
if numb%3==0:
    print("FIZZ")
elif numb%5==0:
    print("BUZZ")
elif numb%3==0 and numb%5==0:
    print("FIZZBUZZ")
# what's wrong???

30
FIZZ

In [ ]:
numb = int(input())
if numb%3==0 and numb%5==0:
    print("FIZZBUZZ")
elif numb%3==0:
    print("FIZZ")
elif numb%5==0:
    print("BUZZ")

30
FIZZBUZZ

In [ ]:
a=50
if a>40:
    print("A")
if a>30:
    print("B")
if a>20:
    print("C")

A
B
C

In [ ]:
a = int(input())
if a>=2:
    print("TRUE")

1

In [ ]:
a = int(input())
if (a%2!=0):
      print("TRUE")

5
TRUE

In [ ]:
S = int(input("Selling price : "))
C = int(input("Cost price : "))
profit = S-C
if C < S:
    print(1)
else:
    print(-1)
print(profit)

Selling price : 8
Cost price : 9
-1
-1

In [ ]:
C = int(input("Cost price : "))
S = int(input("Selling price : "))
if C < S:
    print(1)
    print(S-C)
else:
    print(-1)
    print(C-S)

Cost price : 3
Selling price : 5
1
2

In [ ]:
C = int(input())
S = int(input())

profit = S - C

if profit > 0:
    print(1)
else:
    print(-1)

print(abs(profit))

54869
89874
1
35005

In [ ]:
A = int(input())
B = int(input())
print(min(A, B))

10987
586
586

In [ ]:
# if syntax is valid or not ->>>>> invalid_syntax

x = 2
if x==2:
    x = 3
x = 4
else:
    x = 5
print(x)

SyntaxError: ignored

In [ ]:

#if statement is correct or not>>>.

if x > 2:
    x = x*2
if x > 4:
    x = 0
print(x)

NameError: ignored

In [ ]:
    c=int(input())
    s=int(input())
    if s>c:
        print(1)
        print("Total profit:",s-c)
    else:
        print(-1)
        print("Total Loss=",c-s)

11
9
-1
Total Loss= 2

In [ ]:
x = int(input())
if x > 2:
    x = x*2
if x > 4:
    x = 0
print(x)

8520
0

In [ ]:
ctc = int(input())
if ctc<=10:
    tax=ctc*0.1
elif ctc<=15:
    tax=10*0.1
    tax=tax+(ctc-10)*0.2
else:
    tax=10*0.1
    tax=(ctc-10)*0.5
    tax=(ctc-15)*0.3
print(tax)

20
1.5

In [ ]:
city=input()
if city=="Delhi":
    print("Red Fort")
elif city=="Agra":
    print("Taj Mahal")
elif city=="Gurgaon":
    print("Cyber hub")
elif city=="Mumbai":
    print("Gateway")
else:
    print("I don't know")

Delhi
Red Fort

In [ ]:
units = int(input())
if units<100:
    print("Free")
elif units<200:
    print(units*2)
else:
    print(units*5)

200
1000

In [ ]:
amount=int(input())
if amount%200==0 or amount%500==0:
    print("Dispatching Cash!")
else:
    print("Denomination not avilable!")

600
Dispatching Cash!

In [ ]:
kms=int(input())
stall_time=int(input())
if kms<10:
    fare=kms*10
elif kms<10+40:
    fare=10*10+(kms-10)*9
elif kms<10+40+100:
    fare=10*10+40*9+(kms-10-40)*8
else:
    fare=10*10+40*9+100*8+(kms-10-40-100)*6
stall_fare = stall_time*5
print(fare+stall_fare)

25
5
260

In [ ]:
if False:
    print("Artificial Intelligence")
elif True:
    print("Machine Learning")
elif True:
    print("Data Science")
else:
    print("Deep Learning")

Machine Learning

In [ ]:
a = 1
b = 0
c = 1
if (a and b):
    print("Scaler is awesome")
elif (a and c):
    print("ML is fun")
if (a and b and c):
    print("Python is amazing")
if (a or b or c):
    print("I love DS")

ML is fun
I love DS

In [ ]:
n = int(input())
if n < 10 or n > 20:
    print(-1)
if n >= 10 and n <= 20:
    m = int(input())
    two_numbers_sum = n + m
    print(two_numbers_sum)
    if two_numbers_sum >= 100:
        print("That is a large sum!")

10
25
35

In [ ]:
year = int(input())
if year%400==0:
    print(1)
elif year%4==0 and year%100 != 0:
    print(1)
else:
    print(0)

2009
0

In [ ]:
A = int(input())
if A>=1 and A <=12:
    if A == 2:
        print(28)
    elif A == 4 or A == 6 or A == 9 or A == 11:
        print(30)
    else:
        print(31)

3
31

In [ ]:
english = int(input())
maths = int(input())
science = int(input())
if science > 90 or (science > 75 and english > 75 and maths > 75):
    print("science")
elif science > 60 and english > 60 and maths > 60 and science > 75 and english > 75 and maths > 75:
    print("commerce")
else:
    print("humanities")

70
70
91
science

In [ ]:
A = int(input())
if A >= 1 and A <= 12:
    if A == 1:
        print("January")
    elif A == 2:
        print("Febraury")
    elif A == 3:
        print("March")
    elif A == 4:
        print("APril")
    elif A == 5:
        print("May")
    elif A == 6:
        print("June")
    elif A == 7:
        print("July")
    elif A == 8:
        print("August")
    elif A == 9:
        print("September")
    elif A == 10:
        print("October")
    elif A == 11:
        print("November")
    elif A == 12:
        print("December")

12
December

In [ ]:
n = int(input())
if 1000<=n<=2500:
    if n>=2100:
        category = "grand master"
    elif n>=1900:
        category = "candidate master"
    elif n>=1600:
        category = "expert"
    elif n>=1400:
        category = "pupil"
    else:
        category = "newbie"
    if n%2==0:
        category = category.upper()
    else:
        category = category.lower()
    print(category)

1500
PUPIL

In [ ]:
str1 = str(input())
str2 = str(input())
print(str1+"$"+str2)

#or

str1 = str(input())
str2 = str(input())
output = str1 + str2
print(output)

#or

str1 = str(input())
str2 = str(input())
print(str1, str2, sep="$")

raje
hari
raje$hari
raje
hari
rajehari
raje
hari
raje$hari

In [ ]:
n = int(input())
if n>=1*10**7:
    certificatrion = "diamond"
elif n>=1*10**6:
    certificatrion = "platinum"
elif n>=5*10**5:
    certificatrion = "gold"
else:
    certificatrion = "None"
print(certificatrion)

10022587
diamond

In [ ]:
a = int(input())
b = int(input())
c = int(input())
big = (-b+(b**2-4*a*c)**(1/2))/2*a
small = (-b-(b**2-4*a*c)**(1/2))/2*a
print(big, small)

4
5
4
(-10+12.489995996796797j) (-10-12.489995996796797j)

In [ ]:
n = int(input())

if n%2==0 or n%2!=0:
    if n>0 or n<0:
        print("Even-Positive")
    else:
        print("Even-Negetive")
    else:
        print("Odd-Positive")
    else:
        print("Even-Negetive")

5
Even-Positive
Even-Negetive
Odd-Positive
Even-Negetive

In [ ]:
n = int(input())
if n%2==0:
    if n>0:
        print("Even-Positive")
    else:
        print("Even-Negetive")
if n%2!=0:
    if n>0:
        print("Odd-Positive")
    else:
        print("Odd-Negetive")

-8943
Odd-Negetive

In [ ]:
power = int(input())
ghost = int(input())
# 1 : loss, 0: win
if power==1:
    print(0) # win
else:
    if ghost==1:
        print(1)
    else:
        print(0) # win

# or

power = int(input())
ghost = int(input())
# 1 : loss, 0: win
if ghost==1: # checking if we are touching a ghost, i.e. about to loose
    if power==1:
        print(0) # win
    else:
        print(1)
else:
    print(0) # win

In [ ]:
# 04-07-2023 ITERATION - WHILE LOOP
print("# 04-07-2023 ITERATION - WHILE LOOP")

# 04-07-2023 ITERATION - WHILE LOOP

In [ ]:
num=int(input())
start=1
while start<=num:
    print(start)
    start=start+2

7
1
3
5
7

In [ ]:
num=int(input())
if num<1:
    print("Number is smaller than 1!")
start=1
while start<=num:
    print(start)
    start=start+2

    ######### or ########

num=int(input())
if num>1:
    start=1
while start<=num:
    print(start)
    start=start+2
else:
    print("Number is smaller than 1!")

8
1
3
5
7
-9
Number is smaller than 1!

In [ ]:
A=int(input())
B=int(input())
while A <= B:
    print(A,end=" ")
    A = A+3

1
7
1 4 7

In [ ]:
A=int(input())
B=int(input())
while A<=B:
    if A%2==0:
        print(A, end=" ")
    A=A+1

3
9
4 6 8

In [ ]:
A=int(input())
B=int(input())
loop_count=0
while A<=B:
    if A%2==0:
        print(A, end=" ")
    A=A+1
    loop_count+=1
print("The loop run:", loop_count)

5
20
6 8 10 12 14 16 18 20 The loop run: 16

In [ ]:
start=int(input())
end=int(input())
if start%2==0:
    start=start
else:
    start=start+1
loop_count = 0
while start<=end:
    print(start, end=" ")
    start=start+2
    loop_count+=1
print("The loop run:", loop_count)

5
20
6 8 10 12 14 16 18 20 The loop run: 8

In [ ]:
# password finding.
# when password found we can stop the loop while using #break

password = 9
i = 0
while i<=999:
    print("trying", i)
    if i==password:
        print("password found :", i)
        break
    i+=1

trying 0
trying 1
trying 2
trying 3
trying 4
trying 5
trying 6
trying 7
trying 8
trying 9
password found : 9

In [ ]:
table_of=int(input())
i=1
while i<=10:
    print(table_of*i, end=" ")
    i+=1

7
7 14 21 28 35 42 49 56 63 70

In [ ]:
total_test_cases = int(input("How many test cases you want to run: "))
test_cases_count = 1
while test_cases_count<=total_test_cases:
    table_of=int(input())
    i=1
    while i<=10:
        print(table_of*i, end=" ")
        i+=1
    print("\n\n")
    test_cases_count+=1

How many test cases you want to run: 3
2
2 4 6 8 10 12 14 16 18 20


5
5 10 15 20 25 30 35 40 45 50


8
8 16 24 32 40 48 56 64 72 80

In [ ]:
A=int(input())
B=int(input())
Result=A//B
print(Result)

9
11
0

In [ ]:
i=2
while(i<=2*n):
    if i%2==0:
        print(i)
    i+=1

NameError: ignored

22
4 8 12 16 20

In [ ]:
N=int(input())
for N in range(1, N):
    print(N)

5
1
2
3
4

In [ ]:
N=int(input())
sum=0
for N in range(1, N+1):
    sum=sum+1
print(sum)

5
5

In [ ]:
N = int(input())
for i in range(N, 1-1, -1):
    print(i, end=' ')

8
8 7 6 5 4 3 2 1

In [ ]:
x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

0

In [ ]:
print("start")
for i in range(10, 15):
    for j in range(1, 10):
        if j%2==0:
            break
        print("Running for i =", i)
        print("Running for j =",j)
print("end")

start
Running for i = 10
Running for j = 1
Running for i = 11
Running for j = 1
Running for i = 12
Running for j = 1
Running for i = 13
Running for j = 1
Running for i = 14
Running for j = 1
end

In [ ]:
for i in range(1,16+3,3):
    if i==16:
        print(i, end=" ")
    else:
        print(i, end=", ")

1, 4, 7, 10, 13, 16

In [ ]:
# is to find the loop that calculates the increment
# start the number that is used as an output

# For Loop

number = 1

for i in range (0,100, 2):
    print(number, end=" ")
    number = number + i
    if number > 43:
        break
    #print(i)

1 1 3 7 13 21 31 43

In [ ]:
#While Loop

number = 1
increment = 0
while number <=43:
    print(number, end=" ")
    number = number + increment
    increment += 2

1 1 3 7 13 21 31 43

In [ ]:
user_entered=int(input())
count = 0
while user_entered != 5:
    count += 1
print(count)

4

KeyboardInterrupt: ignored

In [ ]:
n = int(input())
for i in range (n):
    for j in range(n):
        print("*", end = " ")
    print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#GCD (Gratest Common Divisor)
#24 >> 1,2,3,4,6,8,12,24
#16 >> 1,2,4,8,16
## input
#16
#24
## output
#8

In [ ]:
# get the input
a = int(input())
b = int(input())

# find what is the minimum value

if a>b:
    minvalue = b
else:
    minvalue = a

# create possible range

for i in range (minvalue, 1-1, -1):

    # condition
    if a%i==0 and b%i==0:
        print("GCD is :", i)
        break

16
24
GCD is : 8

In [ ]:
t = int(input("T :"))
for j in range(t):
    a = int(input("A :"))
    b = int(input("B :"))
    ans = 0
    mi = min(a, b)
    for i in range(1, mi+1):
        if a%i==0 and b%i==0:
            ans = i
    print(ans)

T :2
A :46
B :59
1
A :45
B :13
1

In [ ]:
t = int(input())
for j in range(t):
    A = int(input())
    B = int(input())
    G = 1
    for i in range(1, min(A, B) + 1):
        if A % i == 0 and B % i == 0:
            G = i
        L = (A * B) // G
    print(L)

2
5
6
30
4
6
12

In [ ]:
tc = int(input())
while tc > 0 :
    tc -= 1
    number = int(input())
    revs_number = int(0)
    while (number > 0):
        revs_number = (revs_number * 10) + number % 10
        number = number // 10
    print(revs_number)

2
852
258
756232
232657

In [ ]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end="")
    print("c")

a a c

In [ ]:
N = int(input())
for i in range(N, 0, -1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
N = int(input())

for i in range(1, N+1):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
N = int(input())
for i in range(1, N+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

4
1
1 2
1 2 3
1 2 3 4

In [ ]:
N = int(input())

for i in range(1, N+1):
    for j in range(1, i+1):
        print(j, end='')
        if j != i:
            print(' ', end='')
    print()

4
1
1 2
1 2 3
1 2 3 4

In [ ]:
N = int(input())
for i in range(N):
    if i == 0 or i == N-1:
        print("*" * N)
    else:
        print("*" + ' ' * (N-2) + "*")


# Need to find the diff??????????????????

N = int(input())
for i in range(N):
    print("*" , end = "")
    print(" " * (N - 2), end = "")
    print("*" , end = "")
    print()

4
****
*  *
*  *
****
4
****
*  *
*  *
****
4
*  *
*  *
*  *
*  *

In [ ]:
N = int(input())
for i in range(N):
    for j in range(i+1):
        print("*", end=' ')
    print()

4
*
* *
* * *
* * * *

In [ ]:
N = int(input())
for i in range(N):
    for j in range(N-i):
        print("*", end="")
    print()

3
***
**
*

In [ ]:
N = int(input())
for i in range(N):
    for j in range(N-i):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    print()

10
          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [ ]:
N = int(input())
for i in range(N):
    for j in range(i):
        print(" ", end="")
    for j in range(N-i):
        print("*", end="")
    print()

5
*****
 ****
  ***
   **
    *

In [ ]:
N = int(input())
for i in range (N):
    for j in range (i+1):
        number_position = j+1
        if number_position%2==0:
            print(number_position, end="")
        else:
            print("*", end="")
    print()

##  OR  ##

N = int(input())
for i in range (N):
    for j in range (1, i+1+1):
        if j%2==0:
            print(j, end="")
        else:
            print("*", end="")
    print()

5
*
*2
*2*
*2*4
*2*4*
5
*
*2
*2*
*2*4
*2*4*

In [ ]:
N = int(input())
for i in range(N):
    for j in range(i+1):
        print("*", end="")
    print()
for i in range(N):
    for j in range(N-i):
        print("*", end="")
    print()


print("===========================================")
### Changes ###
print("===========================================")


N = int(input())
for i in range(N-1): #change
    for j in range(i+1):
        print("*", end="")
    print()
for i in range(N):
    for j in range(N-i):
        print("*", end="")
    print()

5
*
**
***
****
*****
*****
****
***
**
*
===========================================
===========================================
5
*
**
***
****
*****
****
***
**
*

In [ ]:
N = int(input())
for i in range(N):
    for j in range(i+1):
        print("*", end="")
    for j in range((N-i-1)*2):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    print()

5
*        *
**      **
***    ***
****  ****
**********

In [ ]:
N = int(input())
for i in range(N):
    print("*" * (N - i - 1), end="")
    print("  " * i, end="")
    print("*" * (N - i - 1))

5
********
***  ***
**    **
*      *

In [ ]:
N = int(input())
for i in range(N):
    for j in range(N-i):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    print()

print("=================")

N = int(input())

for i in range(N):
    for j in range(N-i-1):
        print(" ", end="")
    for j in range(i+1):
        print("*", end="")
    print()

5
     *
    **
   ***
  ****
 *****
=================
5
    *
   **
  ***
 ****
*****

In [ ]:
N = int(input())

for i in range(N, 0, -1):
    for j in range(i):
        if j == 0 or j == i - 1 or i == N:
            print("*", end="")
        else:
            print(" ", end="")
    print()

8
********
*     *
*    *
*   *
*  *
* *
**
*

In [ ]:
# Input reading
N = int(input().strip())

for i in range(N):
    # Calculate the starting number for each row
    start_num = i
    for j in range(2 * N - 1):
        # Calculate the middle index to split the sequence into increasing and decreasing parts
        mid = (2 * N - 1) // 2

        # Calculate the value to print at each position in the row
        if j >= mid - i and j <= mid + i:
            if j < mid:
                print(start_num, end=" ")
                start_num -= 1
            else:
                print(start_num, end=" ")
                start_num += 1
        else:
            print("0", end=" ")
    print()

4
0 0 0 0 0 0 0
0 0 1 0 1 0 0
0 2 1 0 1 2 0
3 2 1 0 1 2 3

In [ ]:
def digit_to_word(digit):
    words = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    return words[digit]

A = input()
word_form = [digit_to_word(int(digit)) for digit in A]
print(" ".join(word_form))

536741
five three six seven four one

In [ ]:
N = int(input().strip())
is_prime = [True] * (N + 1)
is_prime[0] = is_prime[1] = False
for i in range(2, int(N ** 0.5) + 1):
    if is_prime[i]:
        for j in range(i * i, N + 1, i):
            is_prime[j] = False

for i in range(2, N + 1):
    if is_prime[i]:
        print(i)

56
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53

In [ ]:
##########   Revision of while Loop   ##########
n = int(input())
start = 1
while start<=n:
    print(start, end=" ")
    start=start+2

7
1 3 5 7

In [ ]:
n=int(input())
if n>1:
    start = 1
    while start<=n:
        print(start, end=" ")
        start = start + 2
else:
    print("Number is not greater then 1! ")

-9
Number is not greater then 1!

In [ ]:
start=int(input())
end=int(input())
while start<=end:
    print(start, end=" ")
    start=start+3

2
30
2 5 8 11 14 17 20 23 26 29

In [ ]:
start=int(input())
end=int(input())
loop_count=0
while start<=end:
    if start%2==0:
        print(start, end=" ")
    start=start+1
    loop_count+=1
print("Loop count is =", loop_count )

5
20
6 8 10 12 14 16 18 20 Loop count is = 16

In [ ]:
start=int(input())
end=int(input())

if start%2==0:
    start=start
else:
    start=start+1
loop_count=0
while start<=end:
    print(start, end=" ")
    start=start+2
    loop_count+=1
print("Loop count is =", loop_count )

5
20
6 8 10 12 14 16 18 20 Loop count is = 8

In [ ]:
password=12
i=0
while i<=999:
    print("Trying", i)
    if i==password:
        print("password found = ", i)
        break
    i+=1

Trying 0
Trying 1
Trying 2
Trying 3
Trying 4
Trying 5
Trying 6
Trying 7
Trying 8
Trying 9
Trying 10
Trying 11
Trying 12
password found =  12

In [ ]:
table_of = int(input())
i=1
while i<=10:
    print(table_of*i, end=" ")
    i+=1

7
7 14 21 28 35 42 49 56 63 70

In [ ]:
total_test_cases=int(input())
test_cases_count=1
while test_cases_count<=total_test_cases:

    table_of = int(input())
    i=1

    while i<=10:
        print(table_of*i, end=" ")

        i+=1
    print("\n\n")
    test_cases_count+=1


print("==============================")

total_test_cases=int(input())
test_cases_count=1
while test_cases_count<=total_test_cases:
    print("\n3")
    table_of = int(input())
    i=1

    while i<=10:
        print(table_of*i, end=" ")

        i+=1

    test_cases_count+=1

3
1
1 2 3 4 5 6 7 8 9 10


2
2 4 6 8 10 12 14 16 18 20


3
3 6 9 12 15 18 21 24 27 30


==============================
3


2
2 4 6 8 10 12 14 16 18 20

4
4 8 12 16 20 24 28 32 36 40

6
6 12 18 24 30 36 42 48 54 60

In [ ]:
######  13/07/2023 Problem solving 2 #######

n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(0, end=" ")
    table_of=n-i
    table_till=2*i+1
    for j in range (1, table_till+1):
        print(table_of*j, end=" ")
    for j in range(n-i-1):
        print(0, end=" ")
    print()

5
0 0 0 0 5 0 0 0 0
0 0 0 4 8 12 0 0 0
0 0 3 6 9 12 15 0 0
0 2 4 6 8 10 12 14 0
1 2 3 4 5 6 7 8 9

In [ ]:
n=int(input())
total=0
while n!=0:
    id=n%10
    total=total+id
    n=n//10
print(total)

5284
19

In [ ]:
test_cases=int(input())
for test in range(test_cases):
        n=int(input())
        total=0
        while n!=0:
            id=n%10
            total=total+id
            n=n//10
        print(total)

3
4568
23
23
5
26
8

In [ ]:
#####>>>>>>>>> LCM of a and b = a*b/gcd of a and b

In [ ]:
n=int(input())

old_num=n
rev_num=0
while old_num!=0:
    ld=old_num%10
    rev_num=rev_num*10+ld
    print(ld, rev_num)
    old_num=old_num//10
if n==rev_num:
    print("It is a palindrom")
else:
    print("it is not palindrom")

595
5 5
9 59
5 595
It is a palindrom

In [ ]:
numbers = [1, 3, 6, 10, 15, 21]
for num in numbers:
    square=num**2
    print(square)

1
9
36
100
225
441

In [ ]:
i=2
if i==2:
    i+=1
for j in range(i):
    pass
    break
    i+=1
print(i)

3

In [ ]:
A = int(input())
bool = True
for i in range(2, A):
    if A % i == 0:
            #i divides A , therefore A is not a prime
        bool = False
        break
if bool == True:
    print("YES")
else:
    print("NO")

8
NO

In [ ]:
n=8
while n>=0:
   n -= 2
   if n%2==0:
       continue
   print(n, end=" ")
else:
   print("Exec", end=" ")

Exec

In [ ]:
print("######### REVISION of Itereation - For Loops  ##############")

######### REVISION of Itereation - For Loops  ##############

In [ ]:
num=int(input())
for i in range(1,num+1):
    print(i, end=" ")

print("######### OR  ###########")

num=int(input())
for i in range (num):
    print(i+1, end = " ")

4
1 2 3 4 ######### OR  ###########
4
1 2 3 4

In [ ]:
print(len(range(2,5)))

print("#### or ####")

print(len(range(2,15,3)))

3
#### or ####
5

In [ ]:
####### Sum of Numbers  ###########
n=int(input())
total=0
for i in range (1,n+1):
    print(i, end=" ")
    total=total+i
print("sum of number :",total)

####### Product of Numbers  ###########

n=int(input())
product=1
for i in range (1,n+1):
    print(i, end=" ")
    product=product*i
print("product of number :",total)

4
1 2 3 4 sum of number : 10
4
1 2 3 4 product of number : 24

In [ ]:
n=int(input())
product=1
for i in range(1, n+1):
    if i%2==0:
        product=product*i
print(product)

## or ##

n=int(input())
product=1
for i in range(2, n+1, 2):
        product=product*i
print(product)

5
8
5
8

In [ ]:
# in-effiecient solution

start=int(input())
n=int(input())
product=1
for i in range(start, n+1):
    if i%2==0:
        product*=i
print(product)


print("######## or ########")

# exact solution

start=int(input())
n=int(input())
if start%2==0:
    start=start
else:
    start=start+1
product=1
for i in range(start,n+1,2):
    product*=i
print(product)

5
10
480
######## or ########
5
10
480

In [ ]:
n=int(input())
for i in range(n,1-1,-1):
    print(i, end=" ")

6
6 5 4 3 2 1

In [ ]:
n=int(input())

for i in range(-n,0,1):
    print(-i, end=" ")

print("#### OR ####")

n=int(input())
for i in range(n):
    print(n-i, end=" ")

5
5 4 3 2 1 #### OR ####
5
5 4 3 2 1

In [ ]:
#### while loop Home work problems

a=int(input())
b=int(input())
value=a**b
print(value)

1
10
1

In [ ]:
T = int(input())
while T > 0 :
    T -= 1
    N = int(input())
    sum_digits = 0
    while (N > 0):
        sum_digits += N % 10
        N = N // 10
    print(sum_digits)

2
56
11
48
12

In [ ]:
A = int(input())
i=1
while i<=10:
    print(A, "*", i, "=", (A*i))
    i+=1

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
T=int(input())
for i in range (T):
    N=int(input())
    num_digits=len(str(N))
    print(num_digits)

2
5
1
1023
4

In [ ]:
for i in range (5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [ ]:
x = 1j
print(x**2==-1)

True

In [ ]:
get_max_num([57, 99, 31, 18])

NameError: ignored

In [ ]:
17%15

2

In [ ]:
print("#### Iteration for Loops ####")

#### Iteration for Loops ####

In [ ]:
for a in range(10):
    if(a%3==0):
        continue
    print(a, end=" ")

1 2 4 5 7 8

In [ ]:
i=0
if i==0:
   pass
   print(i, end=" ")
i+=1
print(i, end=" ")

0 1

In [ ]:
i=0
while i<=5:
     if i%2:
        pass
     else:
        print(i, end=" ")
     i+=1

0 2 4

In [ ]:
i = 0
j = 0
while i <= 2:
   if j%2:
       j += 1
   print(i, ":", j, end=" ")
   i+=1
   j+=1

0 : 0 1 : 2 2 : 4

In [ ]:
a=int(input())
total=0
for i in range(a):
    if i%2!=0:
        total+=i
print(total)

7
9

In [ ]:
N=int(input())
for i in range(N+1):
    print("*", end="")

5
******

In [ ]:
def celsius_to_fahrenheit(Celsius):
    fahrenheit = (Celsius * 9/5) + 32
    return round(fahrenheit,2)

number_of_test_cases=int(input())
for i in range(number_of_test_cases):
    temperature_celsius=float(input())
    temperature_fahrenheit=celsius_to_fahrenheit(temperature_celsius)
    print(temperature_fahrenheit)

2
36.8
98.24
25.8
78.44

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return round(fahrenheit, 2)
num_test_cases = int(input())
for _ in range(num_test_cases):
    temperature_celsius = float(input())
    temperature_fahrenheit = celsius_to_fahrenheit(temperature_celsius)
    print(temperature_fahrenheit)

1
45.2
113.36

In [ ]:
def celsius_farhen(Celsius) :
    Fahrenheit = ((9/5)*Celsius) + 32
    ans = round(Fahrenheit ,2)
    return ans

NameError: ignored

In [ ]:
def calculate_total_amount(days, principal_amount, interest_rate_percentage):
    interest_rate = interest_rate_percentage / 100
    simple_interest = (principal_amount * interest_rate * days) / 365
    total_amount = principal_amount + simple_interest
    return round(total_amount, 2)

# Test cases
if __name__ == "__main__":
    num_test_cases = int(input())

    for _ in range(num_test_cases):
        days = int(input())
        principal_amount = float(input())
        interest_rate_percentage = float(input())

        total_amount = calculate_total_amount(days, principal_amount, interest_rate_percentage)
        print(total_amount)

1
789
10000
1.3
10281.01

In [ ]:
def 1f(num):
  return num + 55
1f(5)
print(num)

SyntaxError: ignored

In [ ]:
def simple_interest(principle_amount, rate_of_interest, time_in_years):
    simple_interest = (principle_amount*rate_of_interest*time_in_years)/100
    return(simple_interest)

In [ ]:
print(simple_interest(1000, 7.5, 3)) #positional Aruguments
print(simple_interest(principle_amount=1000, time_in_years=3, rate_of_interest=7.5)) #Key_word Aruguments
print(simple_interest(1000, time_in_years=3, rate_of_interest=7.5)) # positional + Key_word Aruguments

225.0
225.0
225.0

In [ ]:
def date_print(d, m, y, style):
    if style==0:
        print(d,m,y, sep="/")
    elif style==1:
        print(m,d,y, sep="/")
    else:
        print("invalid style")

In [ ]:
def print_date(day,month,year,style=0):
    if style==0:
        print(day,month,year, sep="/")
    elif style==1:
        print(month,day,year, sep="/")
    else:
        print("invalid style")

In [ ]:
print_date(26,7,2023)

26/7/2023

In [ ]:
date_print(d=22,m=7,y=23,style=1)

7/22/23

In [ ]:
date_print(d=22,m=7,y=23,style=0)

22/7/23

In [ ]:
n = int(input())  # numbers m and n
sum = 0  # sup of primes
for i in range(2, n + 1):
    flag = False
    for j in range(2, i):
        if i % j == 0:
            flag = True  # composite number
    if flag == False and i != 1:  # if isn't composite number
        sum += i
print(sum)

10
17

In [ ]:
def main():
    A = float(input())
    B = float(input())
    height = A / 100
    BMI = B / (height * height)
    BMI = round(BMI, 1)
    # Use if, elif and else to check range of BMI
    if BMI < 18.5:
        print("Underweight")
    elif BMI >= 18.5 and BMI <= 24.9:
        print("Normal")
    elif BMI > 24.9 and BMI <= 29.9:
        print("Overweight")
    else:
        print("Obese")
    print(BMI)


if __name__ == "__main__":
    main()

101
29
Overweight
28.4

In [ ]:
def find_floor_value(A):
    floor_value = A // 200

    return floor_value
find_floor_value(-2113)

-11

In [ ]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

#Note: The Question is with respect to Python 3.0 version.

68.0

In [ ]:
def print_natural_numbers(N):
    for i in range(1, N + 1):
        print(i, end=" ")
    print()
    for i in range(N, 0, -1):
        print(i, end=" ")
    print()
T = int(input())
for _ in range(T):
    N = int(input().strip())
    print_natural_numbers(N)

2
5
1 2 3 4 5
5 4 3 2 1
6
1 2 3 4 5 6
6 5 4 3 2 1

In [ ]:
x = 55
def hi():
  return x
x +=10
print(hi())

65