<a href="https://colab.research.google.com/github/rajeshraje434/rajeshraje434/blob/main/DSML_Module_Test_Data_Analytics_and_visualization_Python_libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Question 3
import pandas as pd
import seaborn as sns

# Load the 'tips' dataset
df = sns.load_dataset('tips')

# Find the range in which the maximum number of total bills are there
total_bill_ranges = pd.cut(df['total_bill'], bins=[10, 20, 30, 40, 50])
range_with_max_count = total_bill_ranges.value_counts().idxmax()

print("The range with the maximum number of total bills is:", range_with_max_count)

The range with the maximum number of total bills is: (10, 20]

In [6]:
#  Question 4
import numpy as np

# Create an array from 1 to 20
original_array = np.arange(1, 21)

# Square the even numbers and leave the odd numbers unchanged
modified_array = np.where(original_array % 2 == 0, original_array**2, original_array)

# Reshape the array into 10 rows and 2 columns
reshaped_array = modified_array.reshape(10, 2)

# Find the sum of the last column
sum_of_last_column = np.sum(reshaped_array[:, 1])

print("Sum of the last column:", sum_of_last_column)

Sum of the last column: 1540

In [7]:
# Question 5
import numpy as np

# Create an array from 1 to 10
original_array = np.arange(1, 11)

# Extract even and odd numbers
even_numbers = original_array[original_array % 2 == 0]
odd_numbers = original_array[original_array % 2 != 0]

# Stack the two separated arrays vertically
stacked_array = np.vstack((even_numbers, odd_numbers))

# Find the shape of the resulted array
resulted_shape = stacked_array.shape

print("Shape of the resulted array:", resulted_shape)

Shape of the resulted array: (2, 5)

In [8]:
# Question 6
import numpy as np

# Create an array from 0 to 9
original_array = np.arange(10)

# Separate even and odd numbers
even_numbers = original_array[original_array % 2 == 0]
odd_numbers = original_array[original_array % 2 != 0]

# Stack even numbers before odd numbers horizontally
new_array = np.hstack((even_numbers, odd_numbers))

# Reshape the new array into 2 rows and 5 columns
reshaped_array = new_array.reshape(2, 5)

# Find the mean of the numbers in the first row of the reshaped array
mean_of_first_row = np.mean(reshaped_array[0])

print("Mean of the numbers in the first row:", mean_of_first_row)

Mean of the numbers in the first row: 4.0

In [14]:
# Question 7
import seaborn as sns

# Load the 'tips' dataset
df = sns.load_dataset('tips')

# Filter the rows where total bill is greater than 20 and tip is greater than 4
filtered_df = df[(df['total_bill'] > 20) & (df['tip'] > 4)]

# Get the number of rows in the filtered DataFrame
num_rows = filtered_df.shape[0]

print("Number of rows with total bill > 20 and tip > 4:", num_rows)

Number of rows with total bill > 20 and tip > 4: 37

In [18]:
import pandas as pd

# Load the dataset from the provided link
link = "https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/033/327/original/flights.csv?1683012330"
df = pd.read_csv(link)

In [17]:
# Question 8
import pandas as pd

# Load the dataset from the provided link
link = "https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/033/327/original/flights.csv?1683012330"
df = pd.read_csv(link)

# Group the data by year and month and sum the passengers
passengers_by_month = df.groupby(['year', 'month'])['passengers'].sum()

# Find the year and month with the highest number of passengers
max_passengers_month = passengers_by_month.idxmax()

print("Year and month with the highest number of passengers:", max_passengers_month)

Year and month with the highest number of passengers: (1960, 'Jul')