<a href="https://colab.research.google.com/github/rajeshraje434/rajeshraje434/blob/main/Module_5_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dict1 = {'ten': 10, 'twenty':20, 'thirty': 30}
dict2 = {'thirty': 30, 'fifty': 50, 'sixty': 60}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'ten': 10, 'twenty': 20, 'thirty': 30, 'fifty': 50, 'sixty': 60}

Beginner : Functions 1 - 20-July-2023
🐍🐍🐍FUNCTIONS AGENDA 🐍🐍🐍
🙄why functions

🙂 simple functions

😮positional arguments

😍docstrings and help

😎return v/s print

In [ ]:
#what is function>>>>>()
#print()
#range()
#int()
#input()
#type()
#help()
#float()

In [ ]:
#if
#else
#elif
#True
#False
#and
#or
#for
#while
#break
#pass
#continue
#None

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
print("clean the house")
print("arrange the drawing room")
print("wear nice cloths")
print("go to market and get coldrinks/tiffin")
print("DO NOT misbehave infront of guests")
print("when the guests come, thouch there eet and great them")
print("sing a poem")

clean the house
arrange the drawing room
wear nice cloths
go to market and get coldrinks/tiffin
DO NOT misbehave infront of guests
when the guests come, thouch there eet and great them
sing a poem

In [ ]:
# def function_name():
#####write any code that runs when this function is called

In [ ]:
# creating the function
def prepare_for_guest():
    print("clean the house")
    print("arrange the drawing room")
    print("wear nice cloths")
    print("go to market and get coldrinks/tiffin")
    print("DO NOT misbehave infront of guests")
    print("when the guests come, thouch there eet and great them")
    print("sing a poem")

In [ ]:
# calling thr function
prepare_for_guest()

clean the house
arrange the drawing room
wear nice cloths
go to market and get coldrinks/tiffin
DO NOT misbehave infront of guests
when the guests come, thouch there eet and great them
sing a poem

In [ ]:
print("go to gym")
print("drive home")
prepare_for_guest()    #calling the function in bwtween the functions
print("sleep")

go to gym
drive home
clean the house
arrange the drawing room
wear nice cloths
go to market and get coldrinks/tiffin
DO NOT misbehave infront of guests
when the guests come, thouch there eet and great them
sing a poem
sleep

In [ ]:
# crate naking nimbu pani function

def instant_nimbu_pani():
    print("get an empty glass")
    print("get lemon and cut into two pieces")
    print("squeez a lemon peices into empty glass")
    want_suger = input("do you want sugar[y/n] :")
    if want_suger=="y":
        print("add sugar")
    else:
        print("add salt")
    print("stir well")
    print("nimbu pani is ready")

In [ ]:
instant_nimbu_pani()    # calling the function

get an empty glass
get lemon and cut into two pieces
squeez a lemon peices into empty glass
do you want sugar[y/n] :y
add sugar
stir well
nimbu pani is ready

In [ ]:
# using functions in keywords
for i in range(3):
    instant_nimbu_pani()

get an empty glass
get lemon and cut into two pieces
squeez a lemon peices into empty glass
do you want sugar[y/n] :y
add sugar
stir well
nimbu pani is ready
get an empty glass
get lemon and cut into two pieces
squeez a lemon peices into empty glass
do you want sugar[y/n] :n
add salt
stir well
nimbu pani is ready
get an empty glass
get lemon and cut into two pieces
squeez a lemon peices into empty glass
do you want sugar[y/n] :y
add sugar
stir well
nimbu pani is ready

In [ ]:
print("knock knock Rajesh")
print("knock knock Rajesh")
print("knock knock Rajesh")

knock knock Rajesh
knock knock Rajesh
knock knock Rajesh

In [ ]:
Name = input("your name please :")
print("knock knock", Name)
print("knock knock", Name)
print("knock knock", Name)

your name please :Harika Rajesh
knock knock Harika Rajesh
knock knock Harika Rajesh
knock knock Harika Rajesh

In [ ]:
def wishing(name):
    print("welcome to the world dear", name)
    print("welcome to the world dear", name)
    print("welcome to the world dear", name)

In [ ]:
wishing("parin")

welcome to the world dear parin
welcome to the world dear parin
welcome to the world dear parin

In [ ]:
wishing("Harika Rajesh")

welcome to the world dear Harika Rajesh
welcome to the world dear Harika Rajesh
welcome to the world dear Harika Rajesh

In [ ]:
wishing("Rajesh")

welcome to the world dear Rajesh
welcome to the world dear Rajesh
welcome to the world dear Rajesh

In [ ]:
def propose(name):
    """This function when called will ask someone some where sometime to marry the
    person calling this function
    You need to give the name of the person being proposed
    Be careful!!!!!"""
    print(type(name))
    print("will you marry me, ", name)

In [ ]:
help(propose)
propose("Harika")

Help on function propose in module __main__:

propose(name)
    This function when called will ask someone some where sometime to marry the
    person calling this function
    You need to give the name of the person being proposed
    Be careful!!!!!

<class 'str'>
will you marry me,  Harika

In [ ]:
def greet_the_family(mother, father, brother):
    """Adding this docstring so you know what this function does
    Give me name of
    mother
    father
    brother
    I will greet them"""
    print("touch her foot, hello", mother)
    print("touch his foot, hello", father)
    print("hug him, hai", brother)

In [ ]:
# positional arguments  >>>>>>    position matters
greet_the_family("Dorasanamma", "Hari Babu", "Lakshmi Narayana")

touch her foot, hello Dorasanamma
touch his foot, hello Hari Babu
hug him, hai Lakshmi Narayana

In [ ]:
# In position arguments position changes
greet_the_family("hari babu", "dorasanamma", "lakshmi narayana")

touch her foot, hello hari babu
touch his foot, hello dorasanamma
hug him, hai lakshmi narayana

In [ ]:
help(greet_the_family)

Help on function greet_the_family in module __main__:

greet_the_family(mother, father, brother)
    Adding this docstring so you know what this function does
    Give me name of
    mother
    father
    brother
    I will greet them

In [ ]:
# simple python function will add three numbers
def add_3_numbers(a, b, c):
    print(a+b+c)

In [ ]:
add_3_numbers(2,3,8)

13

In [ ]:
sum_of_3_numbers = add_3_numbers(5,9,4)
print("the function gave me :", sum_of_3_numbers)

18
the function gave me : None

In [ ]:
def add_3_numbers(a, b, c):
    print(a+b+c)
    return a+b+c


sum_of_3_numbers = add_3_numbers(5,9,4)
print("the function gave me :", sum_of_3_numbers)

18
the function gave me : 18

In [ ]:
def add_3_numbers(a, b, c):
    print(a+b+c)
    return a+b+c


sum_of_3_numbers = add_3_numbers(5,9,4)
print(type(sum_of_3_numbers))
print(sum_of_3_numbers+20)
print("the function gave me :", sum_of_3_numbers)

18
<class 'int'>
38
the function gave me : 18

####### **`Logic behind the RETURN`** ########

In [ ]:
def test(a,b):
    return a        #When the Return comes output will stop print
output=test(5,8)
print(output)

5

In [ ]:
def test(a,b):
    print(b)
    return a
output=test(5,8)
print(output)

8
5

In [ ]:
def test(a,b):
    print(b)
    return
output=test(5,8)
print(output)

8
None

In [ ]:
def test(a,b):
    return a
    print(b)
output = test(5,8)
print(output)

# Return stops the python function and never come back to next output.

5

In [ ]:
def test(a,b):
    if a%2==0:
        print(a)
    else:
        print(b)
output = test(5,8)
print(output)

8
None

In [ ]:
def test(a,b):
    if b%2==0:
        return b
    else:
        print (b)

    if a%2==0:
        return a
    else:
        print (a)
output = test(5,8)
print(output)

8

In [ ]:
def test(a,b):
    if b%2==0:
        return b
    else:
        print (b)

    if a%2==0:
        return a
    else:
        print (a)
output = test(8,5)
print(output)

5
8

# **Beginner: Functions 2 - 22 July 2023**:

In [ ]:
def random():
    return True
print(random())

True

In [ ]:
print("starting")
def abc():
    return " I am a function!"
print(abc())
print("ending")

starting
 I am a function!
ending

In [ ]:
a=10 # global variable
def calculator(number): #number is a local variable
    print(number*10)
calculator(a)
#print(number) # number is not defined
print(a)

100
10

In [ ]:
a=10 # global variable
def calculator(number): #number is a local variable
    print(number*10)
    print("inside the function a :", a)
calculator(a)
#print(number) # number is not defined
print(a)

100
inside the function a : 10
10

In [ ]:
a=10 # global variable
def calculator(number): #number is a local variable
    print(number*10)
    print("inside the function a :", a) # we first look for local variable, if there exist any where in the function
    a=a+20
calculator(a)
#print(number) # number is not defined
print(a)

100

UnboundLocalError: ignored

In [ ]:
a=10 # global variable >> anywehere can use it
def calculator(number): #number is a local variable
    print(number*10)
    print("inside the function a :", a) # we first look for local variable, if there exist any where in the function
    b=a+20
calculator(a)
#print(number) # number is not defined
print("outside the function a :",a) # global variable a

100
inside the function a : 10
outside the function a : 10

In [ ]:
a=10 # global variable
def calculator(number):
    print(number*10)
    a=20 # local variable
    print("inside the function a (Local varrible) :", a) # we first look for local variable, if there exist any where in the function

calculator (a)
print("outside the functiobn a (Gobal variable) :", a)

100
inside the function a (Local varrible) : 20
outside the functiobn a (Gobal variable) : 10

In [ ]:
a=10 # golbal variable
def calculator(number):
    print(number*10)
    a=20 # local variable
    print(a+10)
    print(a>10)
    print("inside the function a (local variable) :", a)

calculator(a)
print("ouside the function a (global variable) :", a)

100
30
True
inside the function a (local variable) : 20
ouside the function a (global variable) : 10

In [ ]:
a=10
def calculator(number):
    print(number*10)
    global a # we are asking the python to consider the global variable a, for reading/writing/updating
    a=20 # local variable
    print("inside the function a (local variable) : ", a)

calculator(a)
print("outside the function a (global variable) : ", a)

100
inside the function a (local variable) :  20
outside the function a (global variable) :  20

# 1. How many return statements can function have? >>>
ANS: as many as we need

# 2. How many return statements can be executed in a function at a time ? >>>>
ANS: at max 1 time

In [ ]:
a=10
def calculator(number):
    print(number*10)
    global a # we are asking the python to consider the global variable a, for reading/writing/updating
    a=20 # local variable
    print("inside the function a (local variable) : ", a)
    return a

output=calculator(a)
print(output)
print("outside the function a (global variable) : ", a)

100
inside the function a (local variable) :  20
20
outside the function a (global variable) :  20

In [ ]:
# positional arguments

def introducing_my_family(my_name, spouse, son, father, mother, brother, sister):
    print("my_name is :", my_name)
    print("my spouse name is :", spouse)
    print("my son name is :", son)
    print("my father name is :", father)
    print("my mother name is :", mother)
    print("my brother name is :", brother)
    print("my sister name is :", sister)

In [ ]:
# postional argumentts
#>>> it should be in exact position

introducing_my_family("Rajesh Mangalapuri","Harika Mangalapuri", "Parin Mangalapuri", "Hari Babu Mangalapuri", "Dorasanamma Mangalapuri", "Lakshmi Narayana Mangalapuri", "Saraswathi Mangalapuri")

my_name is : Rajesh Mangalapuri
my spouse name is : Harika Mangalapuri
my son name is : Parin Mangalapuri
my father name is : Hari Babu Mangalapuri
my mother name is : Dorasanamma Mangalapuri
my brother name is : Lakshmi Narayana Mangalapuri
my sister name is : Saraswathi Mangalapuri

In [ ]:
# key_word arguments
# >>> need to assign the key word, but postion doesn't matter

introducing_my_family(father="Hari Babu Mangalapuri", mother="Dorasanamma Mangalapuri", brother="Lakshmi Narayana Mangalapuri", sister="Saraswathi Mangalapuri", my_name="Rajesh Mangalapuri", spouse="Harika Mangalapuri", son="Parin Mangalapuri")

my_name is : Rajesh Mangalapuri
my spouse name is : Harika Mangalapuri
my son name is : Parin Mangalapuri
my father name is : Hari Babu Mangalapuri
my mother name is : Dorasanamma Mangalapuri
my brother name is : Lakshmi Narayana Mangalapuri
my sister name is : Saraswathi Mangalapuri

In [ ]:
def random(a,b,c,d):
    print("a is", a)
    print("b is", b)
    print("c is", c)
    print("d is", d)

In [ ]:
# combine positional & key_word arguments
random(1,2,d=3,c=4)

print("🔽positional arguments🔽")

random(1,2,3,4)

print("🔼positional arguments🔼")

print("🔽Key_word arguments🔽")

random(a=1, b=2, c=3, d=4)

print("🔼Key_word arguments🔼")

a is 1
b is 2
c is 4
d is 3
🔽positional arguments🔽
a is 1
b is 2
c is 3
d is 4
🔼positional arguments🔼
🔽Key_word arguments🔽
a is 1
b is 2
c is 3
d is 4
🔼Key_word arguments🔼

In [ ]:
random(1,b=2,3,d=4) #positional argument follows keyword argument

SyntaxError: ignored

In [ ]:
random(1,2,c=3,d=4)

a is 1
b is 2
c is 3
d is 4

In [ ]:
# printing RANDOM number
import random
print(random.randint(5,10))

6

# interset >> def simple_interest
# calculate simple interest
# si = p*r*t/100
# p is principle amount
# r is rate of interest
# t is the time you kept the loan

In [ ]:
def simple_interest(p,r,t):
    si=p*r*t/100 #simple interest fromula
    return si

In [ ]:
print(simple_interest(1000,7.5,3)) # positional arguments
print(simple_interest(p=1000,r=7.5,t=3)) # keyword arguments
print(simple_interest(1000, t=3,r=7.5)) # positional + keyword arguments

225.0
225.0
225.0

In [ ]:
# giving default values
def simple_interest(p, r, t=30):
    si = p*r*t/100
    return si

In [ ]:
#after assigned the default value we can assign the values at input (As we requried)

print(simple_interest(1000,7.5,3)) # positional arguments
print(simple_interest(p= 1000,t =3,r= 7.5)) # keyword arguments
print(simple_interest(1000,t =3,r= 7.5)) # positional+keyword arguments

225.0
225.0
225.0

In [ ]:
# after assign the default value no need to assign the values at input (As we requried)

print(simple_interest(1000,7.5)) # positional arguments
print(simple_interest(p= 1000,r= 7.5)) # keyword arguments
print(simple_interest(1000,r= 7.5)) # positional+keyword arguments

2250.0
2250.0
2250.0

Question 1 -
Create a date printing function -
Should take 4 arguments -> day, month, year and style

Styling Logic -
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.

In [ ]:
def date_sort(day,month,year,style=0):
    if style==0:
        print(day,month,year, sep="/")
    elif style==1:
        print(month,day,year, sep="/")
    else:
        print("invalid style")

In [ ]:
date_sort(22,7,2023,1)

TypeError: ignored

## Day-41  List-1D  (27-07-2023)

In [ ]:
emptylist=[]
print(emptylist)
print(type(emptylist))

[]
<class 'list'>

In [ ]:
player = ["Rajesh",27,189.5,True,None]
print(player)
print(type(player))

['Rajesh', 27, 189.5, True, None]
<class 'list'>

In [ ]:

# INDEX        0    1     2     3     4     5                       6
groccerylists=[3,"tables",3,"chairs",1.5,"apples",["Rajesh",27,189.5,True,None]]
print(groccerylists)

print(groccerylists[0])
print(groccerylists[1])
print(groccerylists[2])
print(groccerylists[3])
print(groccerylists[4])
print(groccerylists[5])
print(groccerylists[6])

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Rajesh', 27, 189.5, True, None]]
3
tables
3
chairs
1.5
apples
['Rajesh', 27, 189.5, True, None]

In [ ]:
# python lists can store absolutly anything(any data type/DS), even another list
# python lists can store duplicates
# python lists maintain order

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

print(avengers[0])
print(avengers[1])
print(avengers[2])
print(avengers[3])
print(avengers[4])

#print(avengers[5]) >>>>IndexError: list index out of range

['iron man', 'thor', 'cap', 'hulk', 'groot']
iron man
thor
cap
hulk
groot

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

print("first elememt in the list is : ",avengers[0])

['iron man', 'thor', 'cap', 'hulk', 'groot']
first elememt in the list is :  iron man

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

print("how many elements are there in this list :", len(avengers))
print("the index of the last value :", len(avengers)-1)
print("last element in the list is :", avengers[len(avengers)-1])

['iron man', 'thor', 'cap', 'hulk', 'groot']
how many elements are there in this list : 5
the index of the last value : 4
last element in the list is : groot

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
# -ve index     -5        -4    -3    -2     -1
print(avengers)

print(avengers[0], avengers[-5])
print(avengers[1], avengers[-4])
print(avengers[2], avengers[-3])
print(avengers[3], avengers[-2])
print(avengers[4], avengers[-1])

['iron man', 'thor', 'cap', 'hulk', 'groot']
iron man iron man
thor thor
cap cap
hulk hulk
groot groot

In [ ]:
# INDEX        0    1     2     3     4     5                       6
groccerylists=[3,"tables",3,"chairs",1.5,"apples",["Rajesh",27,189.5,True,None]]
print(groccerylists)

print(groccerylists[1])
what_am_I_buying=groccerylists[1]
print(what_am_I_buying, type(what_am_I_buying))

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Rajesh', 27, 189.5, True, None]]
tables
tables <class 'str'>

In [ ]:
runs=[45, 67, 89, 12, 34, 56, 100] # virat kohli's runs
# Mr virat thinks he does well in even +Ve indexed matches
# You are asked by Mr. virat to calculate the total runs of the even matches

runs = [45, 67, 89, 12, 34, 56, 100]
#        0   1   2   3   4   5    6
## even  0   -   2   -   4    -   6
total = 0
# 0, 1, 2, 3, ....len(runs)-1

for i in range (0, len(runs)):
    if i%2==0:
        #print(i, end=" ")
        total = total+runs[i]
print("total even index runs sum :",total)

total even index runs sum : 268

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

#read
print(avengers[1])
print(avengers[-4])

['iron man', 'thor', 'cap', 'hulk', 'groot']
thor
thor

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

# add
# append>> add a single value at the end of the list
avengers.append("gamora")
print(avengers)

#insert >>> insert adds 1 element before a given index
avengers.insert(1, "black panther") #before the index 1 " black panther" will added
print(avengers)

avengers.insert(-3, "rocket")
print(avengers)

avengers.insert(-4, ["wonder woman", "super man", "aquaman", "flash"])
print(avengers)

['iron man', 'thor', 'cap', 'hulk', 'groot']
['iron man', 'thor', 'cap', 'hulk', 'groot', 'gamora']
['iron man', 'black panther', 'thor', 'cap', 'hulk', 'groot', 'gamora']
['iron man', 'black panther', 'thor', 'cap', 'rocket', 'hulk', 'groot', 'gamora']
['iron man', 'black panther', 'thor', 'cap', ['wonder woman', 'super man', 'aquaman', 'flash'], 'rocket', 'hulk', 'groot', 'gamora']

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

DC = ["wonder woman", "super man", "aquaman", "flash"]
print(DC)

# extend >>> add a whole another list inside the list at end
avengers.extend(DC)
print(avengers)

['iron man', 'thor', 'cap', 'hulk', 'groot']
['wonder woman', 'super man', 'aquaman', 'flash']
['iron man', 'thor', 'cap', 'hulk', 'groot', 'wonder woman', 'super man', 'aquaman', 'flash']

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

# Update

avengers[1]="god of thunder"
print(avengers)

avengers[-1]=["groot", "rocket"]
print(avengers)

['iron man', 'thor', 'cap', 'hulk', 'groot']
['iron man', 'god of thunder', 'cap', 'hulk', 'groot']
['iron man', 'god of thunder', 'cap', 'hulk', ['groot', 'rocket']]

In [ ]:
# INDEX         0        1      2     3       4
avengers = ["iron man","thor","cap", "thor", "hulk","groot", "thor"]
print(avengers)

# delet / removing

# by specifying the value
## remove >> this removes the first occurene of the vlue
avengers.remove("thor")
print(avengers)
avengers.remove("thor")
print(avengers)

# by specyfing the position
del avengers[1]
print(avengers)


# pop
avengers.pop(2)
print(avengers)

['iron man', 'thor', 'cap', 'thor', 'hulk', 'groot', 'thor']
['iron man', 'cap', 'thor', 'hulk', 'groot', 'thor']
['iron man', 'cap', 'hulk', 'groot', 'thor']
['iron man', 'hulk', 'groot', 'thor']
['iron man', 'hulk', 'thor']

In [ ]:
avengers = ["iron man","thor","cap", "thor", "hulk","groot", "thor"]
print(avengers)

# need to delete the entire list of avengers
avengers=[]
print(avengers)

['iron man', 'thor', 'cap', 'thor', 'hulk', 'groot', 'thor']
[]

In [ ]:
my_list1=["rajesh", "harika", "parin"]
my_list2=["hari babu", "dorasanamma"]

print(">>>> +")
print(my_list1+my_list2)

print(">>>> * int")
print(my_list1*3)

>>>> +
['rajesh', 'harika', 'parin', 'hari babu', 'dorasanamma']
>>>> * int
['rajesh', 'harika', 'parin', 'rajesh', 'harika', 'parin', 'rajesh', 'harika', 'parin']

In [ ]:
# iterating over a list

avengers = ["iron man","thor","cap","hulk","groot"]
print(avengers)

for i in avengers:
    print(i, end=" ")

['iron man', 'thor', 'cap', 'hulk', 'groot']
iron man thor cap hulk groot

In [ ]:
runs=[45, 67, 89, 12, 34, 56, 100]

#sum of runs
total=0
for run in runs:
    total=total+run
print(total)

#average of the runs
print(total/len(runs))

#Minimum runs
print(min(runs))

#Maximu of runs
print(max(runs))

403
57.57142857142857
12
100

In [ ]:
# Min and Max of runs by using functions
runs=[45, 67, 89, 12, 34, 56, 100]

min_runs=runs[0]
max_runs=runs[0]
for run in runs:
    if run>max_runs:
        max_runs=run
    if run<min_runs:
        min_runs=run
print("max runs is :", max_runs)
print("min runs is :", min_runs)

max runs is : 100
min runs is : 12

In [ ]:
# sort
runs=[45, 67, 89, 12, 34, 56, 100]
print(runs)
#Ascending
runs.sort()
print(runs)
#Descending
runs.sort(reverse=True)
print(runs)

[45, 67, 89, 12, 34, 56, 100]
[12, 34, 45, 56, 67, 89, 100]
[100, 89, 67, 56, 45, 34, 12]

In [ ]:
avengers = ["iron man","thor","cap", "thor", "hulk","groot", "thor"]
print(avengers)
avengers.sort()
print(avengers)
avengers.sort(reverse=True)
print(avengers)

['iron man', 'thor', 'cap', 'thor', 'hulk', 'groot', 'thor']
['cap', 'groot', 'hulk', 'iron man', 'thor', 'thor', 'thor']
['thor', 'thor', 'thor', 'iron man', 'hulk', 'groot', 'cap']

In [ ]:
groccerylists=[3,"tables",3,"chairs",1.5,"apples",["Rajesh",27,189.5,True,None]]
print(groccerylists)

groccerylists.sort()
print(groccerylists)

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Rajesh', 27, 189.5, True, None]]

TypeError: ignored

In [ ]:
output="the size of the earth is 1200.5 Kms"
print(output)

the size of the earth is 1200.5 Kms

In [ ]:
## f string>>>>>

planet_name="earth"
planet_size=1200.5

# 1. put variable instead of the value
# 2. put the variable names in {}
# 3. add f in front

output= f"The size of {planet_name} is {planet_size} Kms"
print(output)

The size of earth is 1200.5 Kms

In [ ]:
planet_name="Mars"
planet_size=1258794.5

# 1. put variable instead of the value
# 2. put the variable names in {}
# 3. add f in front

output= f"The size of {planet_name} is {planet_size} Kms"
print(output)

The size of Mars is 1258794.5 Kms

In [ ]:
my_list = ["apple", "banana", " orange"]
for i in range(len(my_list)):
    print(f"{my_list[i]} is a fruit.", end=" ")

apple is a fruit. banana is a fruit.  orange is a fruit.

In [ ]:
my_list=[10,20,30,40,50]
i=0
while i<len(my_list):
    my_list[i]*=2 # >>> my_list[i]=my_list[i]*2
    i+=1
print(my_list)

[20, 40, 60, 80, 100]

In [ ]:
my_list=[1,2,3,4,5]
i=0
while i < len(my_list):
    if my_list[i]==3:
        break
    print(my_list[i], end=" ")
    i+=1

1 2

## #### Assignment works

In [ ]:
def calculate_sum(input_list):
    ans = 0
    N = len(input_list)
    # looping from 0 to N-1
    for i in range(N):
        ans += input_list[i]
    print(ans)

input_list=[50,30]
result=calculate_sum(input_list)
print(result)

80
None

In [ ]:
def even_odd(A):
    even_sum = 0
    odd_sum = 0
    for x in A:
        if x % 2 == 0:
            even_sum = even_sum + x
        else:
            odd_sum = odd_sum + x
    return even_sum - odd_sum

SyntaxError: ignored

## Day-42 List-slicing (01-08-2023)

In [ ]:
 # Question 1
 #Given list of all runs by virat, print runs made in odd matches (Even Index)
 runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
 for i in range(len(runs)):
    if i%2==0:
        print(runs[i])

62
74
12
122
81

In [ ]:
#Question 2
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

def odd_runs(runs):
    res=[]
    for i in range(len(runs)):
        if i%2==0:
            res.append(runs[i])
    return res
print(odd_runs(runs))

[62, 74, 12, 122, 81]

In [ ]:
# Question 3
#Given list of all runs by virat, create a new list of runs made in last 5 Matches.

####    0   1    2   3  4    *    *    *  *    *
####    0   1    2   3  4    5    6    7  8    9
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

res=[]
for i in range(len(runs)-5, len(runs)):
    res.append(runs[i])
print(res)

###### OR #######


####    0   1    2   3  4    5    6    7  8    9
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
####    -10 -9  -8  -7  -6  -5   -4  -3   -2  -1
res=[]
for i in range(-5,0):
    res.append(runs[i])
print(res)

[101, 122, 99, 81, 55]
[101, 122, 99, 81, 55]

In [ ]:
# Qestion 4
# first 3 match runs
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
res=[]
for i in range(0,3):
    res.append(runs[i])
print(res)

[62, 85, 74]

In [ ]:
# Qestion 5
# From 2nd to 7th match runs
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
res=[]
for i in range(2,7):
    res.append(runs[i])
print(res)

[74, 10, 12, 101, 122]

In [ ]:
#### List slicing >>>> Output is ALWAYS a PYTHON LIST

In [ ]:
####            0         1       2      3        4
avengers = ["iron man", "thor", "cap", "hulk", "groot"]
print(avengers[2])

cap

In [ ]:
####            0         1       2      3        4
avengers = ["iron man", "thor", "cap", "hulk", "groot"]
#   list[start:end] >>> slice the list>> [start, start+1, start+2,.....end-1]
#end is not included
print(avengers[1:4])
print(avengers[0:2])

['thor', 'cap', 'hulk']
['iron man', 'thor']

In [ ]:
# python list slicing default step is 1
####            0         1       2      3        4
avengers = ["iron man", "thor", "cap", "hulk", "groot"]
# list[start:end:step] >> slice the list>>[start, start+step,.....till end]
#>> end is still not included, stop before end
print(avengers[1:4:1]) # start=1, end=4, step=1>>>1,2,3
print(avengers[1:4:2]) # start=1, end=4, step=2>>>1,3
print(avengers[0:3:2])

['thor', 'cap', 'hulk']
['thor', 'hulk']
['iron man', 'cap']

In [ ]:
####            0         1       2      3        4
avengers = ["iron man", "thor", "cap", "hulk", "groot"]
####           -5         -4      -3     -2       -1
# -Ve Index
print(avengers[-4:-1]) #end not include

['thor', 'cap', 'hulk']

In [ ]:
##### -VE INDEXING  #####

# python list slicing default step is 1
####            0         1       2      3        4
avengers = ["iron man", "thor", "cap", "hulk", "groot"]
####           -5         -4      -3     -2       -1

# list[start:end:step] >> slice the list>>[start, start+step,.....till end]
#>> end is still not included, stop before end
print(avengers[1:4:1]) # start=1, end=4, step=1>>>1,2,3
print(avengers[-4:-1:1])
print(avengers[1:4:2]) # start=1, end=4, step=2>>>1,3
print(avengers[-4:-1:2])
print(avengers[0:3:2])
print(avengers[-5:-2:2])

['thor', 'cap', 'hulk']
['thor', 'cap', 'hulk']
['thor', 'hulk']
['thor', 'hulk']
['iron man', 'cap']
['iron man', 'cap']

In [ ]:
# start, end, step are optional
# default step is 1

####            0         1       2      3        4
avengers = ["iron man", "thor", "cap", "hulk", "groot"]
####           -5         -4      -3     -2       -1

# step is +VE : default start is left side, default end is right side
# step is -VE : default start is right side, default end is left side

print(avengers[2:]) # end not mentioned / step is 1(default)
print(avengers[:4:2]) # start not mentioned, default start is left side
print(avengers[:]) # step is 1(default), 1 is +ve, : default start is left side, default end is right side

print(avengers[4::-2]) # step is -2, -2 is -VE, default end is left side

# Reversed list
print(avengers[::-1]) #step is -1, -ve step : start is right side, default end is left side

['cap', 'hulk', 'groot']
['iron man', 'cap']
['iron man', 'thor', 'cap', 'hulk', 'groot']
['groot', 'cap', 'iron man']
['groot', 'hulk', 'cap', 'thor', 'iron man']

In [ ]:
# slpit
# split works on a string
# It'll breaks the string and returns a list of string

print("I love python".split("v"))

['I lo', 'e python']

In [ ]:
#If you doesn't give a position to split it'll consider automaticlly "space"

print("I love python".split())

print("I  love  python".split(' ')) # Multiple spaces are there

['I', 'love', 'python']
['I', '', 'love', '', 'python']

# Assignments

In [ ]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list[7:19])

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [ ]:
class Solution:
    def FrequencyOfDigit(A, B):
        A_str = str(A)
        return A_str.count(str(B))

In [ ]:
Solution.FrequencyOfDigit(8985983541,8)

3

### **Problem Solving 3 (03-08-2023)**

Ceil and Floor
Problem Description

You are given a sorted array of A and an integer B.Return an array of size 2, where the first element is the ceil of B and the second element is the floor of **B.

**Ceil is the largest number greater than or equal to B and is present in the array A.\
Floor is the largest number smaller than or equal to B and is present in the array A.

Problem Constraints

1 <= |A| <= 105
-109 <= A[i] <= 109
-109 <= B <= 109

Input Format

The input contains two lines.
The first line contains space separated integers. The first value in this line is the number of elements N in the array after which N integers denoting elements of the array follow.
The second line contains a single integer.

Output Format

An integer array C of size 2.

Example Input

Input 1:

-2 4 4 8 9
0

Input 2:

1 3 9 21
9
Example Output

Output 1:

4 -2

Output 2:

9 9

In [ ]:
def ceilAndFloor(A, B):
    for i in A[::-1]:
        if i<=B:
            floor=i
            break
    for i in A:
        if i>=B:
            ceil=i
            break
    return [floor, ceil]
print(ceilAndFloor(A=[-2,4,4,8,9],B=0))

[-2, 4]

In [ ]:
a = [1,2,3,4]
print(a[::-1])

[4, 3, 2, 1]

In [ ]:
import math
print(math.log(100000,10))

5.0

In [ ]:
def naturals(n):
    for i in range(1,n+1):
        if i!=n:
            print(i, end=" ")
        else:
            print(i)
    for i in range(n,0,-1):
        if i!=1:
            print(i, end=" ")
        else:
            print(i, end=" ")

naturals(5)

1 2 3 4 5
5 4 3 2 1

In [ ]:
def naturals(n):
    for i in range(1,n+1):
        if i%2==0:
            i="😀"
        if i!=n:
            print(i, end=" ")
        else:
            print(i)
    for i in range(n,0,-1):
        if i!=1:
            print(i, end=" ")
        else:
            print(i, end="")

naturals(9)

1 😀 3 😀 5 😀 7 😀 9
9 8 7 6 5 4 3 2 1

In [ ]:
 def not_even(list):
    res=[]
    for ele in list:
        if(ele %2 !=0):
            res.append(ele)
    return res
elements = [24,32,13,15,19,44,52,7,9,2,51]
not_even(elements)

[13, 15, 19, 7, 9, 51]

## **Operations in python list**

In [ ]:
 #1: find the count of 5 in coins list
coins = [1,2,5,2,5,10,5,20,5,75]
 count=0
 for i in coins:
    if i==5:
        count+=1
print(f"count of 5 was {count}")

count of 5 was 4

In [ ]:
coins = [1,2,5,2,5,10,5,20,5,75]
print(coins.count(5))
print(coins.count(2))

4
2

In [ ]:
coins = [1,2,5,2,5,10,5,20,5,75]

#2: remove all the 5 coins from the coins list without creating a new list

for i in range(coins.count(5)):
    coins.remove(5)
print(coins)

[1, 2, 2, 10, 20, 75]

In [ ]:
coins = [1,2,5,2,5,10,5,20,5,75]

while 5 in coins:
    coins.remove(5)
print(coins)

[1, 2, 2, 10, 20, 75]

In [ ]:
coins = [1,2,5,2,5,10,5,20,5,75]
#3: find the index for the first occurence of 5
my_index=0
for i in coins:
    if i==5:
        print("found 5 at", my_index)
        break
    my_index+=1

found 5 at 2

In [ ]:
coins = [1,2,5,2,5,10,5,20,5,75]
#3: find the all index occurence of 5(# Break)
my_index=0
for i in coins:
    if i==5:
        print("found 5 at", my_index)
        #break
    my_index+=1

found 5 at 2
found 5 at 4
found 5 at 6
found 5 at 8

Which of the following options(s) are correct about lists

a = [1,2,3,4]
b = a
b.append(5)
A. 5 is also get append to list a
B. a and b point to different memory location but have same values
C. python garbage collector automatically deleted the list a as it get assigned to b
D. a and b point to same memory location.

In [ ]:
a=[1,2,3,4]
b=a
b.append(5)
a[0]=100
b[1]=-100
print(a,b)

# A. 5 is also get append to list a
# D. a and b point to same memory location.

[100, -100, 3, 4, 5] [100, -100, 3, 4, 5]

In [ ]:
a=[1,2,3,4]
b=a[:]
b.append(5)
a[0]=100
b[1]=-100
print(a,b)

[100, 2, 3, 4] [1, -100, 3, 4, 5]

In [ ]:
a=10
b=a
a+=5
print(a,b)

15 10

In [ ]:
players =["Jadeja","Rahul","Rohit"]
players[1]="kohli"
print(players)

['Jadeja', 'kohli', 'Rohit']

In [ ]:
players =["Jadeja","Rahul","Rohit"]
players[1] = ["Kohli", "Dhoni"]
print(players)

['Jadeja', ['Kohli', 'Dhoni'], 'Rohit']

In [ ]:
# del
nums= [0,1,2,3,4,5,6,7,8,9]
print(nums)
del nums[1]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#del
nums= [0,1,2,3,4,5,6,7,8,9]
print(nums)
print("nums slice:", nums[::2])

del nums[::2]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums slice: [0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
def main():
    def func(nums):
        print("inside function", nums)
    func(1234)
main()

inside function 1234

In [ ]:
# pop index 2, 5 Times
a = [1,2,3,4,5,6,7,8,9]
for i in range(2):
    a.pop(5)
print(a)

[1, 2, 3, 4, 5, 8, 9]

# Day : 43 **List - 2D** (05-08-2023)

In [ ]:
my_list = [1,2,3,[4,5,["hello",[True, "Find ME!!"]],6]]
print(my_list[3][2][1][1])
print(my_list[-1][-2][-1][-1])

Find ME!!
Find ME!!
6

In [ ]:
matrix = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
[0,10,11]
]

#Sum of all elements in the matrix

total = 0

for row in matrix:
    for elements in row:
        #print(elements)
        total+=elements
print(total)

66

In [ ]:
matrix = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
[0,10,11]
]

# what is the sum of all ements in row wise?
#>>>[6,15,24,21]

ans=[]

for row in matrix:
    total=0
    for elements in row:
        #print(elements)
            total+=elements
    ans.append(total)
print(ans)

[6, 15, 24, 21]

In [ ]:
from prompt_toolkit.styles import named_colors
matrix = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
[0,10,11]
]

# what is the sum of all ements in column wise?
#>>>[12,25,29]

nRows=len(matrix)
nCols=len(matrix[0])
ans=[]
for i in range(nCols):
    ans.append(0)
for rowIndex in range(nRows):
    for colIndex in range(nCols):
        elements=matrix[rowIndex][colIndex]
        ans[colIndex]+=elements
print(ans)

[12, 25, 29]

In [ ]:
matrix = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9]
]

#what is the sum of the diaginal>> 1+5+9 = 15

### ***Day 44 : Strings 1 (08-08-2023) ***

In [ ]:
## Data Types >> immutable / non-editable
#str
#int
#float
#bool
#none

In [ ]:
a = 4
print(a, type(a))
a = a-1
print(a,type(a))

4 <class 'int'>
3 <class 'int'>

In [ ]:
a=[4,4]
print(a, type(a))
a.append(10)
print(a, type(a))

[4, 4] <class 'list'>
[4, 4, 10] <class 'list'>

In [ ]:
print("This is string")
print("This is also a str")
print("""still
just a str""")
print("""This is definetly
the last one""")

This is string
This is also a str
still
just a str
This is definetly
the last one

In [ ]:
print("is this \n a str?")
print("creates a new line at \n")

is this
 a str?
creates a new line at

In [ ]:
# American standard code for incofmation interachange>> ASCII

In [ ]:
print(ord('H'))
print(ord("e"))
print(ord("y"))

72
101
121

In [ ]:
print(ord('😀'))

128512

In [ ]:
print(chr(72))
print(chr(101))
print(chr(121))

H
e
y

In [ ]:
my_str = "Hey look at this meme"
for chr in my_str:
    print(chr, ord(chr))

H 72
e 101
y 121
  32
l 108
o 111
o 111
k 107
  32
a 97
t 116
  32
t 116
h 104
i 105
s 115
  32
m 109
e 101
m 109
e 101

In [ ]:
1>1

False

In [ ]:
'a'>'a'

False

In [ ]:
"a">'A'

True

In [ ]:
print('a',ord('a'))
print('A',ord('A'))

a 97
A 65

In [ ]:
print('c',ord('c'))
print('d',ord('d'))

c 99
d 100

In [ ]:
'abc'>'abd'

False

In [ ]:
"abc">"abcd"

False

In [ ]:
"abc"<"abcd"

True

In [ ]:
for i in range(10,200):
    print(i, chr(i))

TypeError: ignored

In [ ]:
# maths
print("cristiano"+"Ronaldo")

cristianoRonaldo

In [ ]:
print("cristiano"-"Ronaldo")

TypeError: ignored

In [ ]:
print("cristiano"/"Ronaldo")

TypeError: ignored

In [ ]:
print("cristiano"*5)

cristianocristianocristianocristianocristiano

In [ ]:
print(5*"cristiano")

cristianocristianocristianocristianocristiano

In [ ]:
# f string
output= "Age of Ronaldo is 38 year"
print(output)

Age of Ronaldo is 38 year

In [ ]:
age = 39
output = f"age of the Ronaldo is {age} years"
print(output)

age of the Ronaldo is 39 years

In [ ]:
# Replace the data with variable
# put the variable in {}
# put f in front of the starting quotes

In [ ]:
age = 39
output = f"age of the Ronaldo is {float(age)} years"
age = 40
print(output)

age of the Ronaldo is 39.0 years

In [ ]:
s = "Ronaldo-CR7"
print(s.lower())

ronaldo-cr7

In [ ]:
s = "Ronaldo-CR7"
print(s.upper())

RONALDO-CR7

In [ ]:
s = "Ronaldo-CR7"
print(s.capitalize())

Ronaldo-cr7

In [ ]:
s = "Ronaldo-CR7"
print(s.split('-'))

['Ronaldo', 'CR7']

In [ ]:
s = 'CRISTIANO RONALDO'
print(s.capitalize()) # sentance of the starting word starting letter capital
print(s.title()) # each word capital

Cristiano ronaldo
Cristiano Ronaldo

In [ ]:
# ask the user for space separated int as input ( do only one input)
# store the int in a python list
# "1 -10 2 100" >> [1, -10 ,2, 100]

user_input = input()
user_input = user_input.split()
for index in range (len(user_input)):
    user_input[index] = int(user_input[index])
print(user_input)

1 -10 2 100
[1, -10, 2, 100]

Take a string input from user and print that string character by character, with each character in new line.

Input:
"INDIA"

Output:

I\
N\
D\
I\
A

In [ ]:
Name = input()
for i in Name :
    print(i)

TypeError: ignored

In [ ]:
s = "India"
print(s[:2]+"D"+s[3:])

InDia



*   Take a string input from user
*   Print the number of upper case charecters imn that string.

Input : "This is a RANDOM strinG 67890, ^$#@"

Output : : 8

In [ ]:
inp_user = input(str())
count = 0
for character in inp_user:
    if ord(character)>=ord('A') and ord(character)<=ord('Z'):
        count+=1
print(count)

TypeError: ignored

In [ ]:
inp = input()
count = 0
for character in inp:
    if ord(character)>=ord('A') and ord(character)<=ord('Z'):
        # print(character)
        count+=1
print(count)

TypeError: ignored

In [ ]:
#Assignments

In [ ]:
players = ['Jadeja','Rahul','Rohit']
players+='Dhoni Virat'
print(players)

['Jadeja', 'Rahul', 'Rohit', 'D', 'h', 'o', 'n', 'i', ' ', 'V', 'i', 'r', 'a', 't']

In [ ]:
players = ['Jadeja','Rahul','Rohit']
players[len(players):] = ['Dhoni', 'Virat']
print(players)

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [ ]:
players = ['Jadeja','Rahul','Rohit']
players[-1:] = ['Dhoni', 'Virat']
print(players)

['Jadeja', 'Rahul', 'Dhoni', 'Virat']

In [ ]:
players = ['Jadeja','Rahul','Rohit']
players+=['Dhoni', 'Virat']
print(players)

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat']

In [ ]:
a = 'hello'
b = a
a = 'yello'

print(b)
print(a)

hello
yello

In [ ]:
words= ['goOd','mORNing','HOW','are','yoU','todAy']

def upper_char(words):
  output=[]
  for i in range(len(words)):
    if words[i][3].isupper() == False:
        output.append(words[i])
    return output
upper_char(words)

['goOd']

In [ ]:
words= ['goOd','mORNing','HOW','are','yoU','todAy']

def upper_char(words):
  output=[]
  for i in range(len(words)):
    if words[i][2].isupper() == False:
        output.append(words[i])
    return output
upper_char(words)

[]

In [ ]:
words= ['goOd','mORNing','HOW','are','yoU','todAy']

def upper_char(words):
  output=[]
  for i in range(len(words)):
    if words[i][3].islower() == False:
        output.append(words[i])
    return output
upper_char(words)

[]

In [ ]:
words= ['goOd','mORNing','HOW','are','yoU','todAy']

def upper_char(words):
  output=[]
  for i in range(len(words)):
    if words[i][2].isupper() == True:
        output.append(words[i])
    return output
upper_char(words)

['goOd']

In [ ]:
print(“hello”+1+2+3)

SyntaxError: ignored

In [ ]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [ ]:
tuple1 = (1150,'sea_level',909)
print(max(tuple1))

TypeError: ignored

In [ ]:
tuple1 = (1150,877,909)
print(max(tuple1))

1150

In [ ]:
fruits = ("Orange", type)

In [ ]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

### ***Day 45 : Strings 02 (10-08-2023) ***

## Day 46 : Tuples + Sets (12-08-2023)

In [ ]:
planets = ["mercury", "venus", "earth", "mars", "jupiter", "saturn", "urenus", "neptune"]
print(planets)
print(type(planets))

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus', 'neptune']
<class 'list'>

In [ ]:
def multiple_print(s, n = 1):
    print(s * n, end='')
    print() # this prints new line i.e. \n

multiple_print('Hello', 2)
multiple_print('Hello')

HelloHello
Hello

In [ ]:
def foo():
    x = "hello world"

foo()
print(x)

NameError: ignored

In [ ]:
for i in range(-6, -10, -1):
     print(i, end =" ")

-6 -7 -8 -9

In [ ]:
x = [1, 2]
y = [2, 3]

for i in x:
    for j in y:
        print(i, j, end= " ")

1 2 1 3 2 2 2 3

In [ ]:
def function_1():
    print("third")
    function_2()

def function_2():
    print("second")
    function_3()

def function_3():
    print("first")

function_1()

third
second
first

In [ ]:
people = [('Alice', 25), ('Bob', 32), ('Charlie', 20), ('David', 35)]

oldest_name = ""
oldest_age = 100

for name, age in people:
    if age > oldest_age:
        oldest_name = name
        oldest_age = age
print("The oldest person is", oldest_name)

The oldest person is

In [ ]:
str1 = "quick brown fox word!"
print(str1[12:15], str1[:5], str1[-5:-1], str1[8:110], str1[-4:])

In [ ]:
import numpy as np
arr = np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])
np.hstack((arr, arr[:, [0]])).shape= (3, 4)

In [ ]:
np.hstack((arr, arr[:, 0])).shape = (3, 4)

ValueError: ignored

In [ ]:
np.hstack((arr, arr[:, [0]])).shape= (4, 3)

In [ ]:
np.hstack((arr,arr[:, 0])) => Throws Error

SyntaxError: ignored

In [ ]:
arr = np.arange(10)
np.split(arr, 3)

ValueError: ignored

In [ ]:
arr = np.arange(10)
np.split(arr, 5)

[array([0, 1]), array([2, 3]), array([4, 5]), array([6, 7]), array([8, 9])]

In [ ]:
arr = np.arange(10)
np.split(arr, [5, 12])

[array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9]), array([], dtype=int64)]

In [ ]:
arr = array([[[0, 1],
             [2, 3]],

            [[4, 5],
             [6, 7]]])

TypeError: ignored